@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('@/shared/assets/fonts/Inter-Regular.woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('@/shared/assets/fonts/Inter-Medium.woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('@/shared/assets/fonts/Inter-SemiBold.woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('@/shared/assets/fonts/Inter-Bold.woff2');
}
